<!DOCTYPE html>
<html>
<head><title>小强，你在哪里</title>
    <link rel="stylesheet" href="/bootstrap/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/bootstrap/cosmo/docs.css">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">Avalon</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="/">首页</a></li>
                    <li><a href="/list">应用列表</a></li>
                    <li><a href="/proxy">Assets代理</a></li>
                    <li><a href="http://v.taobao.net">VMarket</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="alert alert-block alert-info">
        <a class="close">×</a>
        <h4 class="alert-heading">Tips：</h4>
        <p>当前启用的应用为 【{app}】，请确定当前页面在此应用内。如果应用正确，请尝试<a href="/list/{app}" style="color: #fff" target="_blank">【更新应用模块】</a></p>
    </div>
    <div class="bs-docs" style="padding: 0">
        <img src="http://img03.taobaocdn.com/tps/i3/T1m6r8XmheXXXEiP7b-1275-502.png" alt="">
    </div>
</div>
</body>
</html>