<!DOCTYPE html>
<html>
<head><title>配置你的VMarket</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/bootstrap/css/docs.css">
    <link rel="stylesheet" href="/ztree/css/zTreeStyle/zTreeStyle.css">
    <script type="text/javascript" src="/jquery/jquery-1.8.1.min.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">Avalon</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="/">首页</a></li>
                    <li><a href="/list">应用列表</a></li>
                    <li><a href="/proxy">Assets代理</a></li>
                    <li><a href="https://github.com/czy88840616/avalon-node/wiki" target="_blank">文档</a></li>
                    <li><a href="http://v.taobao.net" target="_blank">VMarket</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <a href="https://github.com/czy88840616/avalon-node" id="github-ribbon"><img src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
    <section id="forms">
        <div class="page-header"><h1>应用:{appname}</h1></div>
        <input type="hidden" id="J_CurrentApp" value="{appname}"/>
        <h2>工具类</h2>
        <form class="form-horizontal" autocomplete="on">
            <div class="control-group">
                <label class="control-label">Tools</label>
                <div class="controls controls-row">
                    <button type="button" class="btn" id="J_AddTools" rel="popover" title="A Title"
                            data-content="And here's some amazing content. It's very engaging. right?">
                        <i class="icon-wrench"></i> 添加一个工具类
                    </button>
                    <span class="help-inline alert fade in">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <strong>警告!</strong> 如果待添加的变量和默认工具类相同，无需手动添加，URL类型除外，查询默认工具类和默认变量：<a
                            href="http://v.taobao.net/doc.html#toolslist">工具类列表</a>
                    </span>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="btn-toolbar toolslist" id="J_ToolslistConfirm" style="border: 2px dashed red;min-height: 20px;padding:10px;">
                        <div class="progress progress-striped active">
                            <div class="bar" style="width: 0%;"></div>
                        </div>
                        <div id="J_ToolContainer" style="display: none"></div>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <h2>模块screen列表</h2>
        {foreach module in urls}
        <h3>Module: {if module.key eq 'noModule'}无{else}{module.key}{end}</h3>
        <ul>
            {foreach url in module.value}
            <li>
                {if module.key eq 'noModule'}
                <a href="/{url}">{{domain:port}}/{url}</a>
                {else}
                <a href="/{module.key}/{url}">{{domain:port}}/{module.key}/{url}</a>
                {end}
            </li>
            {end}
        </ul>
        {end}
    </section>
</div>
<div id="J_ToolModel" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">添加工具类</h3>
    </div>
    <div class="modal-body">
        <div class="alert fade in">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>警告!</strong> 添加完后点击【保存】才会真正的保存
        </div>
        <div class="btn-toolbar toolslist" id="J_ToolslistMock"></div>
        <hr>
        <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" style="width: 60px;">工具类</label>
            <div class="controls" style="margin-left: 80px;">
                <select class="span4" id="J_ToolsList">
                    <option value="">-------- please select a tool --------</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" style="width: 60px;">变量名</label>
            <div class="controls" style="margin-left: 80px;">
                <input class="span4" type="text" placeholder="key" id="J_ToolsKey">
            </div>
        </div>
        <div id="J_ToolsProps"></div>
        <div class="controls-group">
            <label class="control-label" style="width: 60px;"></label>
            <div class="controls" style="margin-left: 80px;">
                <button class="btn btn-primary" type="button" id="J_ToolsUse"><i class="icon-ok icon-white"></i>添加</button>
            </div>
        </div>
        <div class="alert alert-error" style="display: none" id="J_ToolsError"></div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">取消</button>
        <button class="btn btn-primary" id="J_BtnConfirm">保存</button>
    </div>
</div>
<div class="footer">
    <div class="container">
        <p>Code by <a href="mailto:zhangting@taobao.com">zhangting@taobao.com</a></p>
        <p>Code licensed under <a href="https://github.com/czy88840616/avalon-node/blob/master/LICENSE.md" target="_blank">MIT</a></p>
    </div>
</div>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/ztree/js/jquery.ztree.all-3.4.min.js"></script>
<script type="text/javascript" src="/render.js"></script>
</body>
</html>