!!! 5
html
  head
    title 配置你的VMarket
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/bootstrap/css/docs.css')
    link(rel='stylesheet', href='/ztree/css/zTreeStyle/zTreeStyle.css')
  body
    .container
      section#forms
        .page-header
          h1 配置你的VMarket
        h2 您的应用
        form.form-horizontal.bs-docs
          .control-group
            label.control-label 当前应用：
            .controls
              select.pull-left
                option 无应用，添加一个试试↓↓
              .btn-group.pull-left
                button.btn
                  i.icon-edit
                  | 编辑
                button.btn
                  i.icon-remove
                  | 删除
          .control-group
            .controls
              a#J_AddNewApp.btn.btn-primary(href='#addNewAppModal') 添加一个新应用
              br
              br
              .alert.alert-info
                button.close(type='button', data-dismiss='alert') ×
                | VMarket基于您的应用目录来管理模板，您需要给每个应用取一个名字，默认以最后一级目录名作为应用名。
        #addNewAppModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', style='width: 800px; margin-left: -400px;')
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h3#myModalLabel 你的应用
          .modal-body
            form.form-horizontal
              .control-group
                label.control-label(for='approot') 应用根目录：
                .controls
                  input#approot.span5(type='text', placeholder='')
                  a#J_RefreshDir.btn.btn-primary(href='#', data-loading-text='分析中...')
                    i.icon-refresh.icon-white
                  br
                  br
                  .alert.alert-info(style='width: 420px;')
                    button.close(type='button', data-dismiss='alert') ×
                    strong Windows：
                    | D:\project\tradeface
                    br
                    strong Mac：
                    | /Users/harry/projects/tradeface
                  .progress.progress-striped.active(style='width: 470px; display: none;')
                    .bar(style='width: 0%;')
              .control-group
                .controls
                  ul#configTree.ztree(style='display: none;')
          .modal-footer
            button.btn(data-dismiss='modal', aria-hidden='true') 取消
            button#J_SaveConfig.btn.btn-primary.disabled 保存改动
        hr.bs-docs-separator
        h2 您的代理
        p Included with Bootstrap are three optional form layouts for common use cases.
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.8.1.min.js')
    script(type='text/javascript', src='/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript', src='/ztree/js/jquery.ztree.all-3.4.min.js')
    script(type='text/javascript', src='/index.js')
