<!DOCTYPE html>
<html>
<head><title>模板详情</title>
    <link rel="stylesheet" href="/bootstrap/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/bootstrap/cosmo/docs.css">
    <link rel="stylesheet" href="/ztree/css/zTreeStyle/zTreeStyle.css">
    <script type="text/javascript" src="/jquery/jquery-1.8.1.min.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">Vmarket</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="/">首页</a></li>
                    <li><a href="/list">应用列表</a></li>
                    <li><a href="/proxy">Assets代理</a></li>
                    <li><a href="https://github.com/czy88840616/avalon-node/wiki" target="_blank">文档</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            其他
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="http://czy88840616.github.io/avalon-node/quickstart" target="_blank">QucikStart</a></li>
                            <li><a href="http://v.taobao.net" target="_blank">VMarket</a></li>
                            <li><a href="https://github.com/czy88840616/avalon-node" target="_blank">查看源码</a></li>
                            <li><a href="https://github.com/czy88840616/avalon-node/issues/new" target="_blank">向我提意见</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!--<div class="page-header"><h1>所属应用:{appname}</h1></div>-->
    <input type="hidden" id="J_CurrentApp" value="{appname}"/>
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#vars" data-toggle="tab">模板变量结构</a></li>
        <li><a href="#static">静态数据文件</a></li>
        <li><a href="#dynamic">动态数据文件</a></li>
        <li><a href="#tree">模板依赖树</a></li>
        <li><a href="#snapshot">快照</a></li>
        <li><a href="#other">其他</a></li>
    </ul>

    <div class="tab-content" style="min-height: 600px">
        <div class="tab-pane active" id="vars">
            <!--<div class="controls" style="position: relative;">-->
                <!--<button type="button" class="btn btn-primary" id="J_AddTemplate" title="填充到vm模板" data-loading-text="生成中...">-->
                    <!--<i class="icon-edit icon-white"></i> 填充到vm模板-->
                <!--</button>-->
            <!--</div>-->
            <!--<hr>-->
            <p>
                <span class="badge badge-info"><i class="icon-exclamation-sign icon-white"></i> Tips</span>
                当前生成的模板变量JSON树可以转化为具体的数据，用法为：将json内容贴到模板中，提交到日常环境（可以放入一个textarea中隐藏起来），之后粘贴到静态数据中即可。方法目前还不会出现在这里，所以需要自己对照模拟实现。
            </p>
            <hr>
            <div class="ace_editor_wrapper">
                <div id="J_Editor" class="editor">{keys}</div>
            </div>
        </div>
        <div class="tab-pane" id="static">
            <div class="controls" style="position: relative">
                <button type="button" class="btn btn-primary" id="J_AddStatic" title="创建静态数据文件" data-loading-text="生成中...">
                    <i class="icon-file icon-white"></i> 创建静态数据文件
                </button>
                <button type="button" class="btn btn-primary" id="J_SaveStatic" title="保存修改" data-loading-text="保存中...">
                    <i class="icon-file icon-white"></i> 保存修改
                </button>
            </div>
            <input type="hidden" value="{staticPath}" id="J_StaticPath">
            <hr>
            <div class="ace_editor_wrapper">
                <div id="J_StaticEditor" class="editor">{staticData}</div>
            </div>
        </div>
        <div class="tab-pane" id="dynamic">
            <div class="controls" style="position: relative">
                <button type="button" class="btn btn-primary" id="J_AddDynamic" title="创建动态数据文件" data-loading-text="生成中...">
                    <i class="icon-file icon-white"></i> 创建动态数据文件
                </button>
                <button type="button" class="btn btn-primary" id="J_SaveDynamic" title="保存修改" data-loading-text="保存中...">
                    <i class="icon-file icon-white"></i> 保存修改
                </button>
            </div>
            <input type="hidden" value="{dynamicPath}" id="J_DynamicPath">
            <hr>
            <div class="ace_editor_wrapper">
                <div id="J_DynamicEditor" class="editor">{dynamicData}</div>
            </div>
        </div>
        <div class="tab-pane" id="tree">
            <div class="bs-docs well">
                <ul id="configTree" class="ztree"></ul>
            </div>
        </div>
        <div class="tab-pane" id="snapshot">
            <div class="controls" style="position: relative">
                <button type="button" class="btn btn-primary" id="J_AddSnap" title="添加一个快照" data-loading-text="生成中...">
                    <i class="icon-camera icon-white"></i> 创建快照
                </button>
            </div>
            <hr>
            <div class="bs-docs" style="border: 2px dashed #5192FB;min-height: 20px;padding:10px;">
                <ul class="nav nav-list" id="J_SnapShotsContainer" style="display: none">
                </ul>
            </div>
        </div>
        <div class="tab-pane" id="other">
            <h3>暂未开放</h3>
            {if false}
            <div class="form-horizontal">
                <label class="control-label">当前layout：</label>
                <div class="controls">
                    <div class="input-prepend input-append">
                        <span class="add-on">layout/</span>
                        <input class="span3" id="appendedPrependedInput" size="16" type="text">
                        <button class="btn btn-primary" type="button">编辑</button>
                    </div>
                </div>
                <div class="controls">
                    <div class="input-prepend input-append">
                        <span class="add-on">layout/</span>
                        <select class="input-xlarge">
                            {foreach layout in layouts}
                            <option value="{layout}">{layout}</option>
                            {end}
                        </select>
                        <button class="btn btn-primary" type="button">完成</button>
                    </div>
                </div>
            </div>
            {else}

            {end}
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <hr>
        <p>Code by <a href="mailto:zhangting@taobao.com">zhangting@taobao.com</a></p>
        <p>Code licensed under <a href="https://github.com/czy88840616/avalon-node/blob/master/LICENSE.md" target="_blank">MIT</a></p>
    </div>
</div>
<textarea id="J_TreeData" cols="30" rows="10" style="display: none">{templates}</textarea>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/ztree/js/jquery.ztree.all-3.4.min.js"></script>
<script type="text/javascript" src="/info.js"></script>
{if checkUpgrade}
<script type="text/javascript" src="/upgrade.js"></script>
{end}
<script src="/ace/src-min-noconflict/ace.js" type="text/javascript"></script>
</body>
</html>