<!DOCTYPE html>
<html>
<head><title>应用列表</title>
    <link rel="stylesheet" href="/bootstrap/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/bootstrap/cosmo/docs.css">
    <script type="text/javascript" src="/jquery/jquery-1.8.1.min.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">Avalon</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="/">首页</a></li>
                    <li class="active"><a href="/list">应用列表</a></li>
                    <li><a href="/proxy">Assets代理</a></li>
                    <li><a href="https://github.com/czy88840616/avalon-node/wiki" target="_blank">文档</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            其他
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="http://v.taobao.net" target="_blank">VMarket</a></li>
                            <li><a href="https://github.com/czy88840616/avalon-node/issues/new" target="_blank">向我提意见</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container" style="min-height: 450px;">
    <div class="page-header"><h1>应用列表</h1></div>
    <ul>
        {foreach app in apps}
        <li><a href="/list/{app}" style="font-size: 24px;">{app}</a></li>
        {end}
    </ul>
</div>
<div class="footer">
    <div class="container">
        <hr>
        <p>Code by <a href="mailto:zhangting@taobao.com">zhangting@taobao.com</a></p>
        <p>Code licensed under <a href="https://github.com/czy88840616/avalon-node/blob/master/LICENSE.md" target="_blank">MIT</a></p>
    </div>
</div>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
{if checkUpgrade}
<script type="text/javascript" src="/upgrade.js"></script>
{end}
</body>
</html>