<!DOCTYPE html>
<html>
<head><title>配置你的VMarket</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/bootstrap/css/docs.css">
    <script type="text/javascript" src="/jquery/jquery-1.8.1.min.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">Avalon</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="/">首页</a></li>
                    <li><a href="/list">应用列表</a></li>
                    <li class="active"><a href="/proxy">Assets代理</a></li>
                    <li><a href="http://v.taobao.net">VMarket</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <a href="https://github.com/czy88840616/avalon-node" id="github-ribbon"><img src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
    <section id="forms">
        <div class="page-header"><h1>配置你的VMarket Client</h1></div>
        <form class="bs-docs">
            <h2>域名转换</h2>
            <div class="controls">
                <input class="span3" type="text" placeholder="域名">
                <i class="icon-chevron-right">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                <input class="span3" type="text" placeholder="代理IP/域名(:端口)">
            </div>
            <div class="controls">
                <a id="J_AddNewDomain" class="btn btn-primary">添加域名转ip</a>
                <br/><br/>

                <div class="alert alert-info">
                    <button type="button" data-dismiss="alert" class="close">×</button>
                    <strong>注意：</strong>用于在代理规则中替换URL类型的域名，防止HOST绑定到本地死循环
                </div>
            </div>
            {foreach domain in proxyDomain}
            <div class="controls">
                <input class="span3" type="text" placeholder="{domain.key}" readonly>
                <i class="icon-chevron-right">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                <input class="span3" type="text" placeholder="{domain.value}" readonly>
            </div>
            {end}
            <hr>
            <h2>代理规则</h2>
            <div class="controls">
                <label class="radio inline">
                    <input type="radio" name="optionsRadios" value="string" checked>
                    文本匹配
                </label>
                <label class="radio inline">
                    <input type="radio" name="optionsRadios" value="regexp">
                    正则匹配
                </label>
            </div>
            <br>
            <div class="controls">
                <input class="span4" type="text" placeholder="匹配文本/正则">
                <i class="icon-retweet">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                <input class="span4" type="text" placeholder="替换内容/正则">
                权重<input class="span1" type="number" value="-1">
            </div>
            <div class="controls">
                <a id="J_AddNewRule" class="btn btn-primary">添加一个代理规则</a>
                <br/><br/>

                <div class="alert alert-info">
                    <button type="button" data-dismiss="alert" class="close">×</button>
                    <strong>注意：</strong>代理规则从上到下依次匹配，如果匹配到多条只有第一条规则生效，调整顺序请用权重，数字越小排序越靠前
                </div>
            </div>
            {foreach rule in rules}
            <div class="controls clearfix">
                <div class="pull-left" style="margin-right: 10px;">
                    <input class="span4" type="text" readonly value="{rule.pattern}">
                    <i class="icon-retweet">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <input class="span4" type="text" readonly value="{rule.target}">
                </div>
                <div class="input-prepend input-append pull-left">
                    <span class="add-on">权重</span>
                    <input class="span1" id="appendedInputButtons" type="number" value="{idx}">
                    <a type="button" class="btn J_RuleEnabled" data-enable="{rule.enable}">启用</a>
                    <a class="btn btn btn-danger" id="J_RemoveApp"><i class="icon-remove icon-white"></i> 删除</a>
                </div>
            </div>
            {end}
            <div class="controls">
                <a class="btn btn-primary">更新改动</a>
            </div>
        </form>
    </section>
</div>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/proxy.js"></script>
</body>
</html>