<!DOCTYPE html>
<html>
<head><title>配置你的VMarket</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/bootstrap/css/docs.css">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">Avalon</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="/">首页</a></li>
                    <li><a href="/list">应用列表</a></li>
                    <li class="active"><a href="/proxy">Assets代理</a></li>
                    <li><a href="http://v.taobao.net">VMarket</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <a href="https://github.com/czy88840616/avalon-node" id="github-ribbon"><img src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
    <section id="forms">
        <div class="page-header"><h1>配置你的VMarket Client</h1></div>
        <h2>您的代理</h2>
        <form class="bs-docs">
            <div class="controls">
                <label class="radio inline">
                    <input type="radio" name="optionsRadios" value="string" checked>
                    文本匹配
                </label>
                <label class="radio inline">
                    <input type="radio" name="optionsRadios" value="regexp">
                    正则匹配
                </label>
            </div>
            <br>
            <div class="controls">
                <input class="span4" type="text" placeholder="匹配文本/正则">
                <i class="icon-retweet">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                <input class="span2" type="text" placeholder="代理IP/域名(:端口)">
                <input class="span4" type="text" placeholder="替换内容/正则">
                权重<input class="span1" type="text">
            </div>
            <div class="controls">
                <a id="J_AddNewApp" class="btn btn-primary">添加一个代理规则</a>
                <br/><br/>

                <div class="alert alert-info">
                    <button type="button" data-dismiss="alert" class="close">×</button>
                    <strong>注意：</strong>代理规则从上到下依次匹配，如果匹配到多条只有第一条规则生效，调整顺序请用权重，数字越小排序越靠前
                </div>
            </div>
            <div class="controls">
                <input class="span4" type="text" readonly>
                <i class="icon-retweet">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                <input class="span2" type="text" placeholder="代理IP/域名(:端口)" readonly>
                <input class="span4" type="text" readonly>
                权重<input class="span1" type="text">
                <input type="checkbox" checked>
            </div>
            <div class="controls">
                <a id="" class="btn btn-primary">更新改动</a>
            </div>
        </form>
    </section>
</div>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>